.btn
  padding: * 1rem
  text: #fff center 16px 1.3
  text-decoration: none
  font-family: $font
  border: 0
  outline: 0
  cursor: pointer
  transition: .1s ease
  border-radius: 4px
  background: $main
  user-select: none
  display: inline-flex
  align-items: center
  justify-content: center

  &:hover
    opacity: .8

  &:active
    opacity: .5