.input

  &__elem
    border: 1px solid #D3D9E4
    border-color: #D3D9E4
    border-radius: 30px
    padding: 18px 23px
    height: 54px
    outline: 0
    text: $text-dark 14px
    font-family: $font
    width: 100%
    transition: .3s ease

    &::placeholder
      text: #7C90B9

    &:focus
      border-color: #036FF5
      box-shadow: inset 0px 3px 0px #D9D9D9

  &--error
    ^&__elem
      border-color: #FF0F00
      text: #FF0F00

      &::placeholder
        text: #FF0F00